pytest
pytest-cov
pytest-mock
pytest-catchlog
sqlalchemy==0.8.7
psycopg2
lxml
rfc6266
requests
requests_mock
unidecode
polib
flask-babel
factory-boy==2.3.1
-e git+https://github.com/ckan/ckan.git#egg=ckan
-e git+https://github.com/ckan/ckanext-harvest.git#egg=ckanext-harvest
